.products {
  position: relative;

  &__title {
    position: relative;
    z-index: 100;
    padding-top: 8rem;
    margin: auto;
    background-color: $dark-grey;
  }

  &__store {
    // height: 100rem;
    width: 100%;
    // border: 2px solid white;
    margin: 1rem 0;
  }

  &__filters {
    // position: fixed;
    width: 30rem;
    height: 100%;
    margin: 0 2rem;
    padding-top: 1rem;
    // border: 2px solid white;
  }
}