.small-cart {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 2px;
    transition: background-color $fast-transition linear;
    // border: 2px solid black;

    .bi {
      width: 3rem;
      height: 3rem;
      color: $white;
    }

    &:hover {
      background-color: $dark-grey;
    }
  }
  
  &__open {
    position: absolute;
    top: 6rem;
    border: .4rem solid $darker-grey;
    min-width: 24rem;
    border-radius: 2px;
    background-color: $dark-grey;
    transition: visibility 0s, opacity $medium-transition ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--no-items {
      font-size: 2rem;
      padding: 2rem 0;
      text-align: center;
    }

    &--checkout {
      border: none;
      border-radius: 2px;
      background-color: $dark-grey;
      color: $lighter-grey;
      font-size: 2rem;
      cursor: pointer;
      padding: 1rem 2rem;
      margin: 1rem;
      transition: all $fast-transition linear;

      &:hover {
        color: $white;
        background-color: $darker-grey;
      }
    }

    &-item {
      width: 100%;
      padding: 0 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0;

      &--img {
        width: 5rem;
        margin-left: 2px;
        margin-right: 1rem;
      }

      &--data {
        color: $white;

        &__name {
          font-size: 1.6rem;
        }

        &__price {
          font-size: 1.6rem;
        }

        &__quantity {
          font-size: 1.4rem;
        }

        &__color {
          font-size: 1.2rem;
          text-transform: capitalize;
        }
      }

      &--remove-btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .9rem .6rem;
        border-radius: 2px;
        transition: background-color $fast-transition linear;

        .bi {
          color: $white;
          width: 2.5rem;
          height: 2.5rem;
          transition: color $fast-transition linear;
        }

        &:hover {
          background-color: $darker-grey;

          .bi {
            color: $solid-red;
          }
        }
      }
    }
  }
}